/* @import url('https://fonts.googleapis.com/css?family=Instrument&display=swap'); */

body {
    /* background-image: url("images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg"); */
    background-size: cover;
    background-color: black;
    font-family: 'Roboto', serif;
    width: 99vw;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px;
}

.siteLinks {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    margin: 0px 0px 20px 10px;
}
.main {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    background-color: black;
    opacity: 70%;
    margin: 0px 10px 20px 0px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 20px;
}

.titleWrapper {
    width: fit-content;

}

.outerFrame {
    background-color: rgb(0, 213, 255);
    height: fit-content;
    width: fit-content;
    transform: translate(-20px, -20px);
    border-radius: 5px;
}

.midFrame {
    background-color: rgb(255, 0, 187);
    height: fit-content;
    width: fit-content;
    transform: translate(20px, 20px);
    border-radius: 5px;
}

.contentFrame {
    background-color: black;
    /* border: 1px solid;    */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    transform: translate(-10px, -10px);
    border-radius: 5px;
}

#name {
    font-size: 64pt;
}

#first {
    color: rgb(255, 0, 187);
}
#last {
    color: rgb(0, 213, 255);
}

.poemWrapper {
    color: white;
    text-align: center;
    font-size: 14pt;
    width: fit-content;
}

#expButton {
    background-color: rgb(0, 213, 255);
    width: fit-content;
    font-size: 16pt;
    padding: 5px;
    border-radius: 5px;
}
#expButton:hover {
    background-color: rgb(255, 0, 187);
    cursor: pointer;
}
#expButton:active {
    background-color: rgb(255, 0, 187);
}


