.tabBar {
    display: flex; 
    flex-direction: row;
    height: 10%;
    width: 100%;
    gap: 5px;

}

.tabWindow {
    height: 90%;
    width: 100%;
}

.icon {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.tab {
    height: fit-content;
    background-color: black;
    color: white;
    font-size: 12pt;
    padding: 5px;
    margin-top: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.tab:hover {
    color: rgb(255, 0, 187);
    border-top: 1px solid rgb(255, 0, 187);
    border-left: 1px solid rgb(255, 0, 187);
    border-right: 1px solid rgb(255, 0, 187);
}

.activeTab {
    background-color: black !important;
    color: rgb(0, 213, 255);
    border-top: 1px solid rgb(0, 213, 255);
    border-left: 1px solid rgb(0, 213, 255);
    border-right: 1px solid rgb(0, 213, 255);
}



.tabPane {
    display: none;
    color: white;
    border: 1px solid rgb(0, 213, 255);
    /* border-left: 1px solid rgb(0, 213, 255);
    border-right: 1px solid rgb(0, 213, 255); */
    height: 100%;
    flex-direction: column;
}

.activePane {
    display: flex
}



.tabIntro {
    font-size: 14pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabContent {
    display: flex;
    flex-flow: row;
    gap: 10px;
}
.tools {
    display: flex;
    flex-flow: column;
    width: 50%;
}
.toolCard {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10px;
}

.toolHeader {
    display: flex;
    flex-direction: row;
    color: rgb(255, 0, 187);
    text-align: center;
    font-size: 18pt;
    text-decoration: bold;
    background-color: rgb(52, 1, 56);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgb(255, 0, 187);
    padding: 5px;
}
.toolContent {
    padding: 10px;
    border-bottom: 1px solid rgb(255, 0, 187);
    border-left: 1px solid rgb(255, 0, 187);
    border-right: 1px solid rgb(255, 0, 187);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.projects {
    display: flex;
    flex-flow: column;
    width: 50%;
}
.projectCard {
    display: flex;
    flex-flow: column;
    width: fit-content;
    margin: 10px;
}

.projectTitle {
    display: flex;
    flex-direction: row;
    color: rgb(0, 213, 255);
    text-align: center;
    font-size: 18pt;
    text-decoration: bold;
    background-color: rgb(6, 1, 56);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgb(0, 213, 255);
    padding: 5px;
}
.projectSummary {
    padding: 10px;
    border-bottom: 1px solid rgb(0, 213, 255);
    border-left: 1px solid rgb(0, 213, 255);
    border-right: 1px solid rgb(0, 213, 255);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* 
.expansionPanel {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.expansionHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgb(255, 0, 187);
}

.expansionContent {
    display: none;
    width: 100%;
}

.expandedContent {
    display: flex;
} */

